#sign-up {
    z-index: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(92, 123, 124);
    padding: 12px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sign-up-button {
    margin-top: 1em;
    padding: 6px 0;
}